<div class="container mb-4">

  <!-- Cart  -->

  <div class="cart mb-3">
    <h2 class="text-center p-3 rounded mb-0 mt-5 heading">Cart</h2>
    <div class="cart-items" *ngFor="let menu of menus; index as i">

      <div class="cart-row row gx-0">
        <div class="cart-item col-6 ps-md-5 my-2 d-flex align-items-center justify-content-start">
          <img class="cart-item-image" src="{{ menu.img }}" width="100" height="100" alt="{{menu.name}}">
          <div class="cart-item-title h5 ms-5">{{ menu.name }}</div>
        </div>
        <div class="cart-qtty-action col-3 d-flex align-items-center">{{ menu.description }}</div>
        <div class="col-2 d-flex justify-content-center align-items-center">
          <i class="del fs-4 bi bi-trash3-fill text-danger" (click)="delItem(i)"></i>
        </div>
        <div class="cart-price col-1 h5 my-auto text-end p-2 pe-sm-5">{{ menu.price | currency:"EUR" }}</div>
      </div>
      <hr>
    </div>
    <!-- end cart row -->

    <div class="d-flex justify-content-end">
      <ng-template [ngIf]="total > 40" [ngIfElse]="nodiscount">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Summary
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Products: {{total | currency: "EUR"}}</li>
            <li class="list-group-item">Service: {{(total * 0.10) | currency: "EUR"}}</li>
            <li class="list-group-item">Discount: {{(total * 0.15) | currency: "EUR"}}</li>
            <li class="list-group-item"><b>Total amount: {{total * 0.85 + (total * 0.10) | currency: "EUR"}}</b></li>
          </ul>
        </div>
      </ng-template>
      <ng-template #nodiscount>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Summary
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Products: {{total | currency: "EUR"}}</li>
            <li class="list-group-item">Service: {{(total * 0.10) | currency: "EUR"}}</li>
            <li class="list-group-item">Discount: {{ 0 | currency: "EUR"}}</li>
            <li class="list-group-item"><b>Total amount: {{total + (total * 0.10) | currency: "EUR"}}</b></li>
          </ul>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- Form -->

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="mt-5">
    <h2 class="heading">Order Form</h2>
    <p>please fill up the info for the delivery</p>
    <hr>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" placeholder="Enter your name" class="form-control" id="name" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" placeholder="mail@example.com" id="email" formControlName="email">
    </div>
    <button class="btn btn-primary" [disabled]="!checkoutForm.valid">Order</button>
  </form>
</div>
